html {
    font-size: 125%;
}

@mixin displayFont ($size) {
    font-size: ($size/20) * 1rem;
    font-size: $size * 1px;
    font-family: 'Sansita', sans-serif;
}

@mixin bodyFont ($size) {
    font-size: ($size/20) * 1rem;
    font-size: $size * 1px;
    font-family: 'Andika', sans-serif;
}

h1,
.header-form legend {
    text-align: center;
    text-shadow: 
    0 1px 0px $secondaryColor, 
    1px 0 0px $secondaryColor, 
    1px 2px 1px $secondaryColor, 
    2px 1px 1px $secondaryColor, 
    2px 3px 2px $secondaryColor, 
    3px 2px 2px $secondaryColor, 
    3px 4px 2px $secondaryColor, 
    4px 3px 3px $secondaryColor, 
    4px 5px 3px $secondaryColor, 
    5px 4px 2px $secondaryColor, 
    5px 6px 2px $secondaryColor, 
    6px 5px 2px $secondaryColor, 
    6px 7px 1px $secondaryColor, 
    7px 6px 1px $secondaryColor, 
    7px 8px 0px $secondaryColor, 
    8px 7px 0px $secondaryColor;

}
h1 {
    @include displayFont(100);
    line-height:0.9;
}
.header-form legend {
    @include displayFont(35);

}
p {
    @include bodyFont(20); 
    line-height:1.2;
}

footer {
    @include bodyFont(18);
    line-height: 1.05;
}


@media (max-width:1375px) {
    h1 {
        @include displayFont(65);
    }

}  

@media (max-width:900px) {
    h1 {
        @include displayFont(50);
    }

    p {
    @include bodyFont(18); 

    }
}
@media (max-width:550px) {
    p {
        @include bodyFont(16);
    }
    .header-form legend {
        @include bodyFont(20);
    }
    
}
