@import "partials/setup";
@import "partials/variables";
@import "partials/typography";

// General Styles 
.hide {
    display: none;
}
img {
    width:100%;
    max-width:100%;
}
.wrapper {
    width: 80%;
    max-width: 1440px; 
    margin: 0 auto;
}
fieldset {
    border:none;
}
.header-form {
    @include alignment (row, center, center, center);
    flex-wrap: wrap;
    
    legend {
        margin: 0 auto;
    }
}
p {
    margin:0; 
    padding:0;
}
button {
    display: block;
    width: 30%;
    margin: 15px auto;
    padding:10px;
    border:3px solid $white;
    border-radius: 3px;
    background-color:$secondaryColor;
    color:$white;
    &:hover {
        @include color ($secondaryColor, $accentColor);
    }

    &:active, 
    &:focus {
        @include color ($mainColor, $accentColor);
    }
}
// Header Styles 
header {
    width:100%;
    height:100vh;
    background-color:$mainColor;
    @include alignment (column, flex-start, center, center);

    .header-content {
        @include alignment (column, center, center, center);
        margin-top:50px;
        width:75%;
    }
}

.header-title {
    width:100%;
    display: block;
    margin-bottom: 15px;
    border: 10px dotted $white;
    border-radius: 10px;
}
h1,
.header-form legend {
    padding:0px 25px;
    color:$accentColor;


}
h1 {
    margin:40px;
}
.header-description {
    p{
        color:$white;
        padding:20px 20px 0;
    }
}
// Form - Categories 
.game-categories {
    width:100%;
}


.label-container {
    width:80%;
    @include alignment(row, center, center, center);
    flex-wrap: wrap;
}

.header-form {
    [type="radio"] {
        opacity: 0;
        position: absolute;
        &:checked + label {
            @include color ($white, $secondaryColor);
        }
    }

    label {
        width:20%;
        margin:10px;
        padding:10px;
        border-radius: 5px;
        background-color:$accentColor;
        color:$secondaryColor;
        &:hover{
            @include color ($white, $secondaryColor);
        }
        &:active, 
        &:focus {
            @include color ($secondaryColor, $white,);
        }
    }
}
//main styles
main {
    padding-top: 150px;
    @include color($black, $mainColor);
}
//.game-content styles
.game-content {
    @include alignment (row, space-between, center, center);
    flex-wrap:wrap;
    .card{
        @include alignment (column, flex-end, space-between, center);
        border: 5px solid $secondaryColor;
        background-color: rgba(255, 228, 56, 0.85);
        border-radius: 120px 120px 20px 20px;
        // height:700px;
        width: 32%;
        height:750px;

    }
}

// .image-container {
    
// }

.product-info {
    @include alignment (column, space-between, space-between, center);
    height:600px;
    input {
        margin-top:20px;
    }
}

.product-image {
    border-radius:50%;
    border: 3px solid $secondaryColor;
    opacity: 0.9;
}
.product-name {
    border-top: 5px dotted $secondaryColor; 
    border-bottom: 5px dotted $secondaryColor; 
    line-height: 1.2;
}
// .priceTag{
//   width: 500px;
//   height:300px;
//   background-color: yellow;
//   border-radius: 100px 20px 20px 100px;
//   border:10px solid green;
//   position:relative;
// }
input[name="user-guess"],
input[name="user-guess"]::placeholder {
    border:2px solid $secondaryColor;
    text-align: center;
    color:$secondaryColor;
}

.game-results {
    @include color($white, $secondaryColor);
    padding-bottom: 10px;
}
i {
    padding-top: 8px;
    font-size: 40px;

}
.fa-laugh-squint,
.fa-smile-beam {
    color:greenyellow;
}
.fa-grin {
    color:$accentColor;
}
.fa-frown {
    color:red;
}
.fa-meh {
    color:red;
}
footer { 
    padding-top:10px;
    text-align: center;
    @include color ($white, $secondaryColor,);
}


