article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

h1,
.header-form legend {
  text-align: center;
  text-shadow: 0 1px 0px #225c35, 1px 0 0px #225c35, 1px 2px 1px #225c35, 2px 1px 1px #225c35, 2px 3px 2px #225c35, 3px 2px 2px #225c35, 3px 4px 2px #225c35, 4px 3px 3px #225c35, 4px 5px 3px #225c35, 5px 4px 2px #225c35, 5px 6px 2px #225c35, 6px 5px 2px #225c35, 6px 7px 1px #225c35, 7px 6px 1px #225c35, 7px 8px 0px #225c35, 8px 7px 0px #225c35; }

h1 {
  font-size: 5rem;
  font-size: 100px;
  font-family: 'Sansita', sans-serif;
  line-height: 0.9; }

.header-form legend {
  font-size: 1.75rem;
  font-size: 35px;
  font-family: 'Sansita', sans-serif; }

p {
  font-size: 1rem;
  font-size: 20px;
  font-family: 'Andika', sans-serif;
  line-height: 1.2; }

footer {
  font-size: 0.9rem;
  font-size: 18px;
  font-family: 'Andika', sans-serif; }

@media (max-width: 1375px) {
  h1 {
    font-size: 3.25rem;
    font-size: 65px;
    font-family: 'Sansita', sans-serif; } }

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
    font-size: 50px;
    font-family: 'Sansita', sans-serif; }
  p {
    font-size: 0.9rem;
    font-size: 18px;
    font-family: 'Andika', sans-serif; } }

@media (max-width: 550px) {
  .header-form legend {
    font-size: 1.4rem;
    font-size: 28px;
    font-family: 'Andika', sans-serif;
    line-height: 0.9; } }

/* ----------------------------------------------
 * Generated by Animista on 2019-5-26 11:19:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #349052; }

img {
  width: 85%;
  max-width: 85%;
  margin: 0 auto; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

.hide {
  display: none; }

fieldset {
  border: none; }

p {
  margin: 0;
  padding: 0; }

i {
  padding-top: 8px;
  font-size: 40px; }

button {
  color: #f4f4f4;
  background-color: #225c35;
  width: 30%;
  margin: 10px auto;
  padding: 10px;
  display: block;
  border: 3px solid #f4f4f4;
  border-radius: 3px;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }
  button:hover {
    color: #225c35;
    background-color: #ffe438; }
  button:active, button:focus {
    color: #349052;
    background-color: #ffe438; }

button.swal2-confirm {
  padding: 10px 0; }

h1,
.header-form legend {
  padding: 0px 10%;
  color: #ffe438; }

h1 {
  margin: 50px; }

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #349052; }
  header .header-content {
    width: 75%;
    margin-top: 15px; }

.header-title {
  margin-bottom: 15px;
  border: 10px dotted #f4f4f4;
  border-radius: 10px; }

.header-description p {
  color: #f4f4f4;
  padding: 10px 20px; }

.header-form,
.header-form legend,
.category-choices {
  width: 100%; }

.category-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .category-choices [type="radio"] {
    opacity: 0;
    position: absolute; }
    .category-choices [type="radio"]:checked + label {
      color: #f4f4f4;
      background-color: #225c35;
      -webkit-box-shadow: -1px 1px #36393b, -2px 2px #36393b, -3px 3px #36393b, -4px 4px #36393b, -5px 5px #36393b, -6px 6px #36393b, -7px 7px #36393b, -8px 8px #36393b;
      box-shadow: -1px 1px #36393b, -2px 2px #36393b, -3px 3px #36393b, -4px 4px #36393b, -5px 5px #36393b, -6px 6px #36393b, -7px 7px #36393b, -8px 8px #36393b;
      -webkit-transform: translateX(8px) translateY(-8px);
      -ms-transform: translateX(8px) translateY(-8px);
      transform: translateX(8px) translateY(-8px); }
  .category-choices label {
    color: #225c35;
    background-color: #ffe438;
    width: 20%;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .category-choices label:hover {
      color: #f4f4f4;
      background-color: #225c35; }
    .category-choices label:active, .category-choices label:focus {
      color: #225c35;
      background-color: #f4f4f4; }

main {
  padding-top: 300px;
  color: #36393b;
  background-color: #349052; }

.game-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .game-content .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    text-align: center;
    border: 5px solid #225c35;
    background-color: rgba(255, 228, 56, 0.85);
    border-radius: 110px 110px 20px 20px;
    width: 32.5%; }

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  height: 400px;
  position: relative; }
  .product-info .product-name {
    margin: 0 auto;
    border-top: 5px dotted #225c35;
    border-bottom: 5px dotted #225c35;
    line-height: 1.2; }
  .product-info input {
    margin-top: 20px;
    width: 100%;
    padding: 3px; }

.image-container {
  width: 100%;
  height: 175px; }
  .image-container .product-image {
    border-radius: 50%;
    border: 3px solid #225c35;
    position: absolute;
    top: -28%;
    left: 0;
    right: 0;
    background-color: #f4f4f4; }

input[name="user-guess"],
input[name="user-guess"]::-webkit-input-placeholder {
  border: 2px solid #225c35;
  text-align: center;
  color: #225c35; }

input[name="user-guess"],
input[name="user-guess"]:-ms-input-placeholder {
  border: 2px solid #225c35;
  text-align: center;
  color: #225c35; }

input[name="user-guess"],
input[name="user-guess"]::-ms-input-placeholder {
  border: 2px solid #225c35;
  text-align: center;
  color: #225c35; }

input[name="user-guess"],
input[name="user-guess"]::placeholder {
  border: 2px solid #225c35;
  text-align: center;
  color: #225c35; }

.game-results {
  color: #f4f4f4;
  background-color: #225c35;
  border: 4px solid #349052;
  height: 175px; }

.fa-laugh-squint,
.fa-smile-beam {
  color: greenyellow; }

.fa-grin {
  color: #ffe438; }

.fa-frown {
  color: red; }

.fa-meh {
  color: red; }

footer {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  color: #f4f4f4;
  background-color: #225c35; }

@media (max-width: 1200px) {
  .game-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center; }
  .product-info {
    position: static;
    height: 100%; }
  .image-container {
    height: 100%;
    margin: 30px 0; }
    .image-container .product-image {
      position: static; }
  .game-results {
    border: none;
    padding-bottom: 10px;
    height: 100%; }
  i {
    padding-bottom: 2px; } }

@media (max-width: 900px) {
  header .header-content {
    width: 90%;
    padding: 5px; }
  .header-title {
    border: 8px dotted #f4f4f4; }
  h1 {
    margin: 10px;
    padding-bottom: 10px; }
  .game-content {
    display: block; }
    .game-content .card {
      width: 100%;
      margin: 0 auto 30px; }
  .product-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .product-results {
    height: auto;
    padding-bottom: 20px; } }

@media (max-width: 700px) {
  .category-choices label {
    width: 35%; } }

@media (max-width: 600px) {
  .header-title {
    margin-top: 20px; }
  .header-description p {
    padding: 2px 5px; }
  .header-form legend {
    padding: 0;
    margin: 5px 0; }
  .start-game {
    margin-top: 3px;
    border: 2px solid #f4f4f4;
    padding: 5px; } }

@media (max-width: 550px) {
  button {
    width: 60%; }
  .category-choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .category-choices label {
      width: 70%;
      margin: 6px 0;
      padding: 5px; } }
