article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

h1,
.header-form legend {
  text-align: center;
  color: #ffe438;
  text-shadow: 0 1px 0px #225c35, 1px 0 0px #225c35, 1px 2px 1px #225c35, 2px 1px 1px #225c35, 2px 3px 2px #225c35, 3px 2px 2px #225c35, 3px 4px 2px #225c35, 4px 3px 3px #225c35, 4px 5px 3px #225c35, 5px 4px 2px #225c35, 5px 6px 2px #225c35, 6px 5px 2px #225c35, 6px 7px 1px #225c35, 7px 6px 1px #225c35, 7px 8px 0px #225c35, 8px 7px 0px #225c35; }

h1 {
  font-size: 5rem;
  font-size: 100px;
  font-family: 'Sansita', sans-serif;
  line-height: 1.2; }

.header-form legend {
  font-size: 1.75rem;
  font-size: 35px;
  font-family: 'Sansita', sans-serif; }

p {
  font-size: 1rem;
  font-size: 20px;
  font-family: 'Andika', sans-serif; }

.hide {
  display: none; }

img {
  width: 100%;
  max-width: 100%; }

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }

fieldset {
  border: none; }

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header-form legend {
    margin: 0 auto; }

p {
  margin: 0;
  padding: 0; }

button {
  display: block;
  width: 30%;
  margin-top: 15px;
  padding: 10px;
  border: 3px solid #f4f4f4;
  border-radius: 3px;
  background-color: #225c35;
  color: #f4f4f4; }
  button:hover {
    color: #225c35;
    background-color: #ffe438; }
  button:active, button:focus {
    color: #349052;
    background-color: #ffe438; }

header {
  width: 100%;
  height: 100vh;
  background-color: #349052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 75%; }

.header-title {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border: 10px dotted #f4f4f4;
  border-radius: 10px; }

h1,
.header-form legend {
  padding: 0px 25px; }

h1 {
  margin: 40px; }

.header-description p {
  color: #f4f4f4;
  padding: 20px 20px 0; }

.game-categories {
  width: 100%; }

.label-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header-form [type="radio"] {
  opacity: 0;
  position: absolute; }
  .header-form [type="radio"]:checked + label {
    color: #f4f4f4;
    background-color: #225c35; }

.header-form label {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffe438;
  color: #225c35; }
  .header-form label:hover {
    color: #f4f4f4;
    background-color: #225c35; }
  .header-form label:active, .header-form label:focus {
    color: #225c35;
    background-color: #f4f4f4; }

main {
  background-color: #349052; }

.game-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .game-content .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    text-align: center;
    border: 5px solid #225c35;
    background-color: rgba(255, 228, 56, 0.85);
    border-radius: 120px 120px 20px 20px;
    width: 30%;
    height: 700px; }

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  text-align: center;
  height: 600px; }
  .product-info input {
    margin-top: 20px; }

.product-image {
  border-radius: 50%;
  border: 3px solid #225c35;
  opacity: 0.9; }

footer {
  text-align: center;
  color: #f4f4f4;
  background-color: #349052; }
