@import "partials/setup";
@import "partials/variables";
@import "partials/typography";

// General Styles 
body {
    max-width: 1600px;
    margin: 0 auto;
    background-color:$mainColor;
}

img {
    width:100%;
    max-width:100%;
}

.wrapper {
    width: 80%;
    max-width: 1600px; 
    margin: 0 auto;
}

.hide {
    display: none;
}

fieldset {
    border:none;
}

p {
    margin:0; 
    padding:0;
}

i {
    padding-top: 8px;
    font-size: 40px;

}

button {
    @include color ($white, $secondaryColor);
    width: 30%;
    margin: 15px auto;
    padding:10px;
    display: block;
    border:3px solid $white;
    border-radius: 3px;
    transition: background 0.5s ease;
    &:hover {
        @include color ($secondaryColor, $accentColor);
    }
    &:active, 
    &:focus {
        @include color ($mainColor, $accentColor);
    }
}



// Styling for Sweet Alerts
button.swal2-confirm {
    padding:10px 0;
}

// Header Styles 

h1,
.header-form legend {
    padding:0px 10%;
    color:$accentColor;

}

h1 {
    margin:50px;
}

header {
    @include alignment (column, center, center, center);
    width:100%;
    height:100vh;
    background-color:$mainColor;
    .header-content {
        width:75%;
        margin-top:15px;
    }  
    .header-form {
        legend {
            display: block;
        }
    }
}

.header-title {
    margin-bottom: 15px;
    border: 10px dotted $white;
    border-radius: 10px;
}

.header-description p{
    color:$white;
    padding:10px 20px;
}

.header-form, 
.header-form legend,
.category-choices {
    width:100%;
}

.category-choices {
    @include alignment (row, center, center, center);

    [type="radio"] {
        opacity: 0;
        position: absolute;
        &:checked + label {
            @include color ($white, $secondaryColor);
        }
    }

    label {
        @include color ($secondaryColor, $accentColor);
        width:20%;
        margin:10px;
        padding:10px;
        border-radius: 5px;
        &:hover{
            @include color ($white, $secondaryColor);
        }
        &:active, 
        &:focus {
            @include color ($secondaryColor, $white,);
        }
    }
}


//Main styles - Dynamic Content

main {
    padding-top: 150px;
    @include color($black, $mainColor);
}

.game-content {
    @include alignment (row, space-between, center, center);
    flex-wrap:wrap;
    .card{
        @include alignment (column, flex-end, space-between, center);
        border: 5px solid $secondaryColor;
        background-color: rgba(255, 228, 56, 0.85);
        border-radius: 120px 120px 20px 20px;
        width: 32%;
    }
}

.product-info {
    @include alignment (column, space-around, flex-end, center);
    height:400px;
    position: relative;
    .image-container{
        height:175px;
        .product-image {
            border-radius:50%;
            border: 3px solid $secondaryColor;
            position: absolute;
            top:-35%;
            left:0;
            right:0;
        }
    }

    .product-name {
        border-top: 5px dotted $secondaryColor; 
        border-bottom: 5px dotted $secondaryColor; 
        line-height: 1.2;
    }

    input {
        margin-top:20px;
        width:100%;
    }
}


input[name="user-guess"],
input[name="user-guess"]::placeholder {
    border:2px solid $secondaryColor;
    text-align: center;
    color:$secondaryColor;
}

.game-results {
    @include color($white, $secondaryColor);
    border: 4px solid $mainColor;
    height:175px;
}

// Icons Colors
.fa-laugh-squint,
.fa-smile-beam {
    color:greenyellow;
}
.fa-grin {
    color:$accentColor;
}
.fa-frown {
    color:red;
}
.fa-meh {
    color:red;
}

// Footer
footer { 
    padding-top:10px;
    text-align: center;
    @include color ($white, $secondaryColor,);
}


@media (max-width:900px) {
    header .header-content {
        width:90%;
    }


    h1 {
        margin:20px;
    }


} 

@media (max-width:600px) {

    header .header-title{
        margin-top:50px;
    }  

    .header-description p{
        padding:2px 5px;
    }
}